.discover-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  background-color: rgb(14, 14, 14);
  margin-top: 35px;
  position: relative;
}

.image-section {
  flex: 1 2 25rem;
  height: 75vh;
  background-image: url("../assets/discover-img.jpg");
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
}

.content-section {
  flex: 1 2 25rem;
  height: 79vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 45px;
  background-color: rgb(14, 14, 14);
}

.content-section h1 {
  font-weight: bold;
  color: white;
  font-size: 2.5rem;
}

.content-section p {
  color: white;
  font-weight: 100;
}

.btn-joinus {
  width: 250px;
  height: 50px;
}
